
table.cmdlet-parameters
{
	margin-top: 1em;
	margin-bottom: 1em;
}

table.cmdlet-parameters tr th
{
	background: lightgray;
	padding: 0em 1em;
	margin: 0px;
}

table.cmdlet-parameters tr td
{
	margin: 0px;
}

/* Overriding the basic jQueryUI accordion theme */

.ui-accordion
{
	font-size: 0.8em !important;
	margin-left: 2em !important;
}

.ui-accordion-content
{
	overflow: hidden !important;
}

pre.code-sample
{
	border: none !important;
	padding: 0em !important;
	margin: 0em !important;
	font-size: 1.2em;
}
