
#header-title
{
	margin-top: 1em;
	height: 4.5em;
	vertical-align: middle;
	text-align: center;
}

#header-menu ul
{
	display: block;
	margin: 0em;
	padding: 0em;
	font-size: 1em;
	font-weight: normal;
	background-color: ghostwhite;
	border: 1px solid gray;
}

#header-menu #top
{
	border-bottom: none;
}

#header-menu #bottom
{
	border-top: none;
}

#header-menu li
{
	display: table-cell;
	position: relative;
	margin: 0em;
	padding: 0em;
	list-style-type: none;
	font-weight: bold;
}

#header-menu li.title
{
	width: 4.5em;
	padding-left: 5px;
}

#header-menu li a
{
	cursor: hand;
	text-decoration: none;
}

#header-menu .current,
#header-menu li a
{
	padding: 0.2em 0.7em;
	display: block;
	border-left: 1px solid ghostwhite;
	border-right: 1px solid ghostwhite;
	margin-right: 0px;
	color: #4183C4;
}

#header-menu .current,
#header-menu li a:hover
{
	background-image: url('menubackground.png');
}

#header-menu .first
{
	border-left: 0px !important;
}
